/* 
    Document   : arts-website
    Created on : 8-Apr-2013, 9:36:50 AM
    Author     : Amir Entezaralmahdi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#artslogo {
    width: 25px;
    height: 25px;
    background: 50% 50% no-repeat;
    text-decoration: none;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin-left: -15px;
    padding: 10px;
    display: block;
}
a#artslogo:hover{background-color: #522E91;}

#applybtn {     
    float: right;
}
#applybtn {
  text-decoration:none;
  font-weight:bold;
  font-size:14px;
  padding:8px;
  padding-left:18px;
  padding-right:18px;
  display:block;
    text-align:center;
     color:white;
     margin:5px;
     margin-top:8px;
    line-height:12px;     
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    -khtml-border-radius: 3px!important;
    border-radius: 3px!important;
   }
a#applybtn:hover {
    background: none;
}
#ubc7-unit-menu .nav{
    width:100%;
}